IP_COMANDA=localhost
PUERTO_COMANDA=5002
PUERTO_ESCUCHA=5001
RETARDO_CICLO_CPU=4
GRADO_DE_MULTIPROCESAMIENTO=2
ALGORITMO_DE_PLANIFICACION=FIFO
ALPHA=0.5
ESTIMACION_INICIAL=2
REPARTIDORES=[7|3,3|5]
FRECUENCIA_DE_DESCANSO=[20,8]
TIEMPO_DE_DESCANSO=[1,2]
ARCHIVO_LOG=app.log
PLATOS_DEFAULT=[Milanesa]
POSICION_REST_DEFAULT_X=5
POSICION_REST_DEFAULT_Y=5
MODULO=App