IP_COMANDA=127.0.0.1
PUERTO_COMANDA=5001
PUERTO_ESCUCHA=5004
RETARDO_CICLO_CPU=2
GRADO_DE_MULTIPROCESAMIENTO=1
ALGORITMO_DE_PLANIFICACION=FIFO
ALPHA=0.5
ESTIMACION_INICIAL=2
REPARTIDORES=[1|1,5|2,1|4]
FRECUENCIA_DE_DESCANSO=[8,5,10]
TIEMPO_DE_DESCANSO=[2,1,4]
ARCHIVO_LOG=app.log
PLATOS_DEFAULT=[Plato1, Plato2, Plato3]
POSICION_REST_DEFAULT_X=0
POSICION_REST_DEFAULT_Y=0
MODULO=App